<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SDCHAT: Grupo Geral</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
</head>
<body>

    <section class="main">
        <section class="list_friends">
            <h1 id="name">Olá {{user_local.name.split('.')[0]}}!</h1>

            <ul>
                <a href="{{url_for('homepage')}}">
                    <li id="active">
                        <h4>Chat Geral</h4>
                    </li>
                </a>
                {% if users|length > 0 %}
                    {% for u in users %}
                        <a href="{{url_for('homepage', id=u.id)}}">
                            <li>
                                <h4>{{u.name.split('.')[0]}}</h4>
                                {% if u.status == 1 %}
                                    <p><b>•</b> Online</p>
                                {% else %}
                                    <p><b id="offline">•</b> Offline</p>
                                {% endif %}
                            </li>
                        </a>
                    {%endfor%}
                {%else%}
                    <li><p id="nolink">Não há contato.</p></li>
                {%endif%}
            </ul>
        </section>

        <section class="main_messages">
            <section class="messages">
                {% for m in messages[::-1] %}
                <section class="message" id="{{'destinatario' if m.is_recv == 1 else 'remetente'}}">
                    <h5>{% if m.is_recv == 0 %}
                            {{'*' if m|get_verification}}
                        {%endif%}
                        {{ m|get_name }}
                        <span> ~ {{m.date[0:16]}}</span>
                    </h5>
                    <p>{{m.msg}}</p>
                </section>
                {% endfor %}
            </section>

            <section class="float_box">
                <form action="{{ url_for('send_message_group')}}" method="post">
                    <input type="text" name="searchMessage" placeholder="Digite uma mensagem" required/>
                    <button type="submit">Enviar</button>
                </form>
            </section>
        </section>

    </section>

</body>
</html>