<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SDCHAT</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    <!--<link rel="stylesheet" href="..\Static\css\style.css">-->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
</head>
<body>

    <section class="main">
        <section class="list_friends">
            <h1 id="name">Olá {{my_name}}!</h1>
            <ul>
                {% if users|length > 0 %}
                    {% for u in users %}
                        <a href="{{url_for('homepage', id=u.id)}}">
                            <li>
                                <h4>{{u.name.split('.')[0]}}</h4>
                                {% if u.status == 1 %}
                                    <p><b>•</b> Online</p>
                                {% else %}
                                    <p><b id="offline">•</b> Offline</p>
                                {% endif %}
                            </li>
                        </a>
                    {%endfor%}
                {%else%}
                    <li><p id="nolink">Não há contato.</p></li>
                {%endif%}
            </ul>
        </section>

        <section class="welcome">
            <h2>Seja bem vindo <b>{{my_name}}</b>!</h2>
            <h2></h2>
        </section>

    </section>

</body>
</html>